page-join-point {
    #map{
        height: 100%;
        weight: 100%;
    }
    .marker-style{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        margin: auto;
        z-index: 1;
    }

    .back-button{
		display: block!important;
    }
}
