page-Tutorial {
 
  .tutorial-content{
    text-align:center;
  }
  .tutorial-image img{
    max-height: 170px;
    margin-bottom: 35px;
    margin-top:40px;
  }
  .tutorial-text{
    text-align:center;
    padding: 0 32px 0 32px;
  } 
  .slide-title{
    font-size: 23px;
  }
  .tutorial-text2{
    text-align:center;
    padding: 0 31px 0 31px;
    font-size: 13px;
  } 
}
