page-travel-modal {
    .back-button{
		display: block!important;
    }
    #map{
        height: 50%;
        weight: 100%;
    }
    .card-md{
        margin: 0px;
        width: inherit; 
    }
    .image-profile {
        height: 30vw;
        width: 30vw;
        border: 2px solid #fff;
        border-radius: 50%;
        box-shadow: 0 0 5px grey;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
}
